* {
    /*
    *   清除基本格式
    */
    margin: 0px;
    padding: 0px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: greenyellow;
    text-decoration: none;
}
a:hover {
    color: plum;
    text-decoration: none;
}
a:active {
    color: red;
    text-decoration: none;
}
.header {
    width: auto;
    height: auto;
    margin: 0px auto;

    background-color: black;

    color: aliceblue;
    font-size: 4.5rem;
    text-align: center;

}
.content {
    width: auto;
    height: 1600px;
    margin: 0.5rem auto;
    padding: 0.2rem 0.2rem;

    background-attachment: fixed;
    /*background-color: black;*/
    background-image: url(./cssImgs/back.jpg);
    background-size: 100% auto;
}
.open_window {

    width: 100%;
    height: 370px;
    
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
    
    animation-name: example;
    animation-duration: 0.5s;
    overflow:hidden;
}
.goal_block {
    width: 60%;
    height: 90%;
    background-color: transparent;
    
    margin-top: 1%;
    float: left;
}
.img_block {
    width: 30%;
    height: 75%;
    background-color: black;
    
    border: 0.5rem inset #9a9a4c;

    margin-top: 2.4rem;
    float: left;
    overflow: hidden;
    
    /* 设置指针和过渡时间 */
    cursor:crosshair;
    transition: all 0.6s;

}
.img_block:hover{
    /* 设置缩放倍数 */
    transform: scale(1.05);
}
.show_img {
    list-style-image: inherit;
}
.content_left {
    width: 22%;
    height: 1200px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    float: left;
    overflow: auto;

    border-radius: 0.3125rem;
    
    animation-name: example;
    animation-duration: 1s;
}
.content_left_title {
    width: 100%;
    height: 50px;
    background-color: transparent;

    color: antiquewhite;
    line-height: 2.1875rem;
    font-size: 1.875rem;
    font-family: "楷体";
    text-align: center;

    padding-left: 0.9375rem;
    padding-top: 0.625rem;
}
.content_left_content {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 1.25rem 0px;

    color: #ffffff;
    line-height: 1.875rem;
    font-size: 1.125rem;
    font-family: "微软雅黑";
    text-align: center;

    
}
.content_center {
    width: 55%;
    height: 1200px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);

    margin-left: 0.5%;
    float: left;
    /*<!-- overflow表示的是div中内容溢出如何处理 -->*/
    overflow: overlay;

    border-radius: 0.3125rem;

    animation-name: example;
    animation-duration: 1s;
}
.content_center_title{
        width: 100%;
        height: 50px;
        background-color: transparent;
    
        color: antiquewhite;
        line-height: 2.1875rem;
        font-size: 1.875rem;
        font-family: "楷体";
        text-align: center;
    
        padding-left: 0.9375rem;
        padding-top: 0.625rem;
    }
.content_right {
    width: 22%;
    height: 1200px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    
    margin-left: 0.5%;
    float: left;
    overflow: overlay;
    border-radius: 0.3125rem;
    
    animation-name: example;
    animation-duration: 1s;
}
.content_right_title {
    width: 100%;
    height: 50px;
    background-color: transparent;

    color: antiquewhite;
    line-height: 2.1875rem;
    font-size: 1.875rem;
    font-family: "楷体";
    text-align: center;

    padding-left: 0.9375rem;
    padding-top: 0.625rem;
}
.content_right_content {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 1.25rem 0px;

    color: #ffffff;
    line-height: 3rem;
    font-size: 1.125rem;
    font-family: "微软雅黑";
    text-align: center;

    padding-left: 0.9375rem;
}
.textABC{
    font-size: 0.625rem;
    font-family: "新宋体";
    font-weight: lighter;
    color: burlywood;
    text-align: center;
    
}
.end {
    width: auto;
    height: 60px;
    font-size: 0.625rem;
    text-align: right;
    color: #ffffff;
    background-color: #000000;
}
.stitle{
    color: gold;
    font-family: "仿宋";
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.tips{
        width: 400px;
        height: 230px;
        background-color: rgba(241, 131, 52, 0.2);

        padding:1.25rem 1.25rem;

        margin-top: 1%;
        margin-left: 75%;
        border-radius: 0.3125rem;

        /* 添加动画记得登记 */
        animation-name: example;
        animation-duration: 1s;
}
@keyframes example {
  0%   { transform: scale(0.5, 0.5);}
  100% {transform: scale(1, 1);}
}
@keyframes example_x {
  0%   {  transform: scale(0, 0);}
  100% { transform: scale(1, 1);}
}
.minitips{
    width: 10rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.0625rem dashed aquamarine;
    
    align-self: center;
    padding: 0.625rem 0 0 0;
    text-align: center;
    font-family: "new york";
    font-size: 1.25rem;
    color: cornsilk;
    border-radius: 0.3125rem;
    margin-left: 1.875rem;
    margin-top: 1.25rem;
    
    float: left;
    
    animation-name: example_x;
    animation-duration: 1.8s;
    
    /* 设置指针样式 */
    cursor: crosshair;
    /* 设置过度时间 */
    transition: all 0.6s;
}
.minitips:hover{
    /* 设置缩放倍数 */
    transform: scale(1.4);
}
.point{
    /* 设置普通字体样式 */
    cursor: grab;
    color: antiquewhite;
    
}
.point:hover{
    color: #DDA0DD;
}
.pointChange{
    /* 普通字体备用样式 */
    color:#000000;
}
.pointChange:hover{
    color: #3e8ecf;
}
.work_show_area{
    width: 25%;
    height: 21.875rem;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 1.25rem;
    
    float: left;
    
    cursor: crosshair;
    transition: all 0.6s;
}
.work_show_area:hover{
    transform: scale(1.4);
}
.work_doing{
    
    width: 93.6%;
    height: auto;
    
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 2rem;
    text-align: left;
    float: left;
}
#hyperlink_kanojyo{
    font-size: 1rem;
    float: right;
}
.tips_in{
    width: 8rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 4rem;
    float: left;
    /* 设置指针样式 */
    cursor: crosshair;
    /* 设置过度时间 */
    transition: all 0.6s;
}
.tips_in:hover{
    /* 设置缩放倍数 */
    transform: scale(1.4);
    background-color: aliceblue;
}

/* rightup carousel map */
ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .banner {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .banner .pics {
        position: relative;
    }

    .banner .pics li {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
    }

    .banner>a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 4px 6px;
        font-size: 30px;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
    }

    .banner .prev {
        left: 0;
    }

    .banner .next {
        right: 0;
    }

    .banner .dots {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
    }

    .banner .dots span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 4px;
        background-color: #fff;
    }

    .banner .dots span.on {
        background-color: #f00;
    }

    .mapImg {
        margin: auto;
        height: 18rem;
        width: 35rem;
    }
    .goalImgs {
        border-radius: 1.2rem;
    }
